@{
    Layout = "~/Views/Shared/Menu.cshtml";
}
<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                    <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">

            <div class="row">
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- recent orders  -->
                <!-- ============================================================== -->
                <div class="col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Recent Orders </h5>

                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0"># Item ID</th>
                                            <th class="border-0">Image</th>
                                            <th class="border-0">Item Name</th>
                                            <th class="border-0">Price</th>
                                            <th class="border-0">GST</th>
                                            <th class="border-0">Visibility</th>
                                            <th class="border-0">Actions</th>
                                            <th class="border-0">Created By</th>
                                            <th class="border-0">Date Created</th>
                                            <th class="border-0">Updated By</th>
                                            <th class="border-0">Date Updated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                            </td>
                                            <td> Magnet </td>
                                            <td> $30.00 </td>
                                            <td>7</td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox" checked>
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                            <td><i class="fa fa-edit"></i><i class="fa fa-trash mr-1"></i></td>
                                            <td> Admin1 </td>
                                            <td>10 February 2020</td>
                                            <td> Admin2 </td>
                                            <td>11 February 2020</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                            </td>
                                            <td> Keychain </td>
                                            <td> $27.00 </td>
                                            <td>7</td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                            <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                            <td> Admin1 </td>
                                            <td>10 February 2020</td>
                                            <td> Admin2 </td>
                                            <td>11 February 2020</td>

                                        <tr>
                                            <td colspan="11"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end recent orders  -->

            </div>
        </div>
    </div>
    </div>

