@{
    Layout = "~/Views/Shared/Menu.cshtml";
}
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                    <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div style="display: flex;">
                            <div style="-ms-flex:1; flex:1;"
                                <p"></p><img src="assets/images/upload.png" alt="upload" style = "width:200px;">
							</div>
                            <div style="-ms-flex:1; flex:1;">
                                <div class="form-group col-md-12">
                                    <label for="ItemNameInput" class="font-small font-weight-medium">
                                        Item Name <span class="compulsoryInput d-inline"> *</span>
                                    </label>
                                    <input type="text" id="ItemNameInput" name="ItemNameInput" class="form-control" placeholder="Please key in item name" />
                                    <span></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="priceInput" class="font-small font-weight-medium">
                                        Price (incl.GST) <span class="compulsoryInput d-inline"> *</span>
                                    </label>
                                    <input type="text" id="priceNameInput" name="priceNameInput" class="form-control" placeholder="$ e.g. 25.00" />
                                    <span></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <p>Visibility<span class="compulsoryInput d-inline"> *</span></p>
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="commentsInput" class="font-small font-weight-medium">
                                Description
                            </label>
                            <textarea type="text" id="commentsInput" name="commentsInput" class="form-control" placeholder="Enter Description"></textarea>
                            <span></span>
                        </div>

                        <div class="modal-footer">
                            <button type="reset" class="btn btn-grey">Clear</button>
                            <button type="button" class="btn btn-primary" id="SubmitBtn">Add Item</button>


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- ============================================================== -->
            <!-- basic table  -->
            <!-- ============================================================== -->
            <div class="col-lg-12 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Basic Table</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="add">
                                <button href="#exampleModal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Add New Item
                                </button>
                            </div>
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th># Item ID</th>
                                        <th>Image</th>
                                        <th>Item Name</th>
                                        <th>Price</th>
                                        <th>GST</th>
                                        <th>Visibility</th>
                                        <th>Actions</th>
                                        <th>Created By</th>
                                        <th>Date Created</th>
                                        <th>Updated By</th>
                                        <th>Date Updated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Magnet </td>
                                        <td> $30.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash mr-1"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Keychain </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Card </td>
                                        <td> $28.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Cup </td>
                                        <td> $29.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Bottle </td>
                                        <td> $25.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Shirt </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Bag </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Tote Bag </td>
                                        <td> $26.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Phone Case </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Pouch </td>
                                        <td> $28.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Wallet </td>
                                        <td> $29.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Shoe </td>
                                        <td> $24.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Watch </td>
                                        <td> $23.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Sticker </td>
                                        <td> $21.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Necklace </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Paul </td>
                                        <td> $24.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Gloria </td>
                                        <td> $23.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Brad </td>
                                        <td> $25.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Rios </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Caldwell </td>
                                        <td> $26.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Berry </td>
                                        <td> $29.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Vance </td>
                                        <td> $22.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Doris </td>
                                        <td> $24.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Angelica </td>
                                        <td> $20.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Joyce </td>
                                        <td> $28.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Chang </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Dog </td>
                                        <td> $24.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Green </td>
                                        <td> $26.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Shou </td>
                                        <td> $31.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> House </td>
                                        <td> $29.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Burks </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>32</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Prescott </td>
                                        <td> $25.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>33</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Cortez </td>
                                        <td> $28.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>34</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Mccray </td>
                                        <td> $20.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>35</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Unity </td>
                                        <td> $29.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>36</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Howard </td>
                                        <td> $28.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>37</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Fuentes </td>
                                        <td> $34.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Vivian </td>
                                        <td> $23.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>39</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Mooney </td>
                                        <td> $26.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Jackson </td>
                                        <td> $23.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>41</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Liang </td>
                                        <td> $25.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Bruno </td>
                                        <td> $24.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Yamamoto </td>
                                        <td> $27.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Thor </td>
                                        <td> $23.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>45</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Finn </td>
                                        <td> $25.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Serge </td>
                                        <td> $29.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>47</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Frank </td>
                                        <td> $20.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>48</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Zorita </td>
                                        <td> $22.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>49</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Jennifer </td>
                                        <td> $22.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>50</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Stevens </td>
                                        <td> $22.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>51</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Hermione </td>
                                        <td> $21.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>52</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Greer </td>
                                        <td> $20.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>53</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Alexander </td>
                                        <td> $21.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>54</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Decker </td>
                                        <td> $20.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>55</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Bruce </td>
                                        <td> $20.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>56</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Donna </td>
                                        <td> $21.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                    <tr>
                                        <td>57</td>
                                        <td>
                                            <div class="m-r-10"><img src="~/assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td> Red </td>
                                        <td> $22.00 </td>
                                        <td>7</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i></td>
                                        <td> Admin1 </td>
                                        <td>10 February 2020</td>
                                        <td> Admin2 </td>
                                        <td>11 February 2020</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end basic table  -->
            <!-- ============================================================== -->
        </div>
    </div>
