@{
    Layout = "~/Views/Shared/Menu.cshtml";
}
<link href="~/assets/libs/css/animate.min.css" rel="stylesheet" />
<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Keychain, Magnet & Card </h2>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->

    <div class="row">

        <div class="leftcol">

            <div class="card border-3 border-bottom-IC border-bottom-primary">
                <h5 class="card-header" id="IC">
                    Incoming Orders
                    <input type="text" id="searchCode" onkeyup="myFunction(1)" placeholder="Search for Order Code.." title="Type in Order Code">
                </h5>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Order Code</th>
                            <th>Pause</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr id="waitingMsg">
                            <td colspan="12">
                                There's no waiting order!
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card border-3 border-bottom-NV border-bottom-primary">
                <h5 class="card-header" id="NV">
                    Completed Orders
                    <input type="text" id="searchCode2" onkeyup="myFunction(2)" placeholder="Search for Order Code.." title="Type in Order Code">
                </h5>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Order Code</th>
                        </tr>
                    </thead>
                    <tbody id="collectedTable">
                        <tr id="completedMsg">
                            <td colspan="12">
                                There's no completed order!
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="rightcol">

            <div class="card border-3 border-bottom-OD border-bottom-primary">
                <h5 class="card-header" id="OD">Order Detail</h5>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Select Path</th>
                            <th>Filename</th>
                            <th>Download</th>
                            <th>Complete</th>
                        </tr>
                    </thead>

                    <tbody id="detailTable">
                        <tr>
                            <td colspan="12">
                                Please click any order to display the order details!
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="card border-3 border-bottom-KMC border-bottom-primary">

                <div class="card-body">
                    <div class="simple-card">
                        <ul class="nav nav-tabs" id="myTab5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border-left-0" id="home-tab-simple" data-toggle="tab" href="#home-simple" role="tab" aria-controls="home" aria-selected="true">Print Keychain</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-simple" data-toggle="tab" href="#profile-simple" role="tab" aria-controls="profile" aria-selected="false">Print Magnet</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent5">
                            <div class="tab-pane fade show active" id="home-simple" role="tabpanel" aria-labelledby="home-tab-simple">
                                <label for="input-select"></label>
                                <select class="form-control" id="input-select"></select>
                                <div class="print">
                                    <img onclick="$('#keychainFile1').click();" id="keychainImg1" src="~/assets/images/upload.png" alt="upload" style="width:200px;">
                                    <input id="keychainFile1" onchange="readURL(this, '#keychainImg1');" type="file" hidden />
                                    <img onclick="$('#keychainFile2').click();" id="keychainImg2" src="~/assets/images/upload.png" alt="upload" style="width:200px;">
                                    <input id="keychainFile2" onchange="readURL(this, '#keychainImg2');" type="file" hidden />
                                    <a href="#" onclick="printKeychain()" class="btn btn-rounded btn-primary" style="margin-top: 103px; margin-left: 30px;">Print</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile-simple" role="tabpanel" aria-labelledby="profile-tab-simple">
                                <label for="input-select"></label>
                                <select class="form-control" id="input-select2"></select>
                                <div class="print">
                                    <img onclick="$('#magnetFile').click();" id="magnetImg" src="~/assets/images/upload.png" alt="upload" style="width:200px; margin-left: 121px;">
                                    <input id="magnetFile" onchange="readURL(this, '#magnetImg');" type="file" hidden />
                                    <a href="#" onclick="printMagnet()" class="btn btn-rounded btn-primary" style="margin-top: 103px; margin-left: 30px;">Print</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- ============================================================== -->
                    <!-- end simple tabs  -->
                    <!-- ============================================================== -->
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/noty/jquery.noty.js"></script>
<script src="~/Scripts/noty/layouts/center.js"></script>
<script src="~/Scripts/noty/themes/bootstrap.js"></script>
<script src="~/Scripts/noty/themes/default.js"></script>
<script src="~/Scripts/noty/themes/relax.js"></script>
<style>
    .orderRow {
        cursor: pointer;
    }

    .dlbutton {
        cursor: pointer;
    }

    #pauseBtn {
        z-index: 99;
    }
</style>
<script type="text/javascript">

    //Display all records in collected order table and order table
    function loadTable() {
        $.ajax({
            type: "GET",
            url: "/api/others",
            dataType: "json",
            success: function (data) {
                data.forEach(function (record) {
                    console.log(record);
                    let counter = 0;
                    let pausechecker = false;
                    for (let x = 0; x < record.product.length; x++) {
                        if (record.product[x].status == "Collected") {
                            counter++;
                        }
                        else if (record.product[x].status == "Paused") {
                            pausechecker = true;
                        }
                    }
                    console.log(counter == record.product.length);
                    console.log(!pausechecker);
                    if (counter == record.product.length) {
                        let $rowElement = createRow(record, false);
                        if ($('#completedMsg')) {
                            $('#completedMsg').remove();
                        }
                        $('#collectedTable').append($rowElement);
                    }
                    else if (!pausechecker) {
                        let $rowElement = createRow(record, true);
                        if ($('#waitingMsg')) {
                            $('#waitingMsg').remove();
                        }
                        $('#myTable').append($rowElement);
                    }
                    var effects = 'animate__animated animate__fadeIn animate__slower';
                    var effectsend = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';
                    $(`#order${record.order_id}`).addClass(effects).one(effectsend, function () {
                        $(`#order${record.order_id}`).removeClass(effects);
                    });
                });
                //window.setInterval(function () {
                //    checkOrder();
                //}, 5000);
            },
            error: function (data) {
                console.log(data);
                let $cellElement = null;
                let $rowElement = $('<tr></tr>');
                $cellElement = $(`<td style="text-align:center" colspan="3">Connection/Backend Problem!</td>`);
                $rowElement.append($cellElement);
                $('#myTable').append($rowElement);//inserting a new row
            }
        });
    }

    //Display all available printers
    function loadPrinters() {
        $.ajax({
            type: "GET",
            url: "/api/others/getPrinters",
            dataType: "json",
            success: function (data) {
                let options = '<option selected disabled>--Select Printers--</option>';
                console.log(data);
                for (let x = 0; x < data.length; x++) {
                    options += '<option>' + data[x] + '</option>';
                }
                $('#input-select').html(options);
                $('#input-select2').html(options);
            },
            error: function (data) {
                alert("No printer available!");
            }
        });
    }

    //Creating the row for order table and collected order table
    function createRow({ order_id, p_id, product, status }, desc) {
        //Get Timestamp
        var currentTime = new Date();
        let hours = (currentTime.getHours() < 10 ? '0' : '') + currentTime.getHours();
        let minutes = (currentTime.getMinutes() < 10 ? '0' : '') + currentTime.getMinutes();
        let seconds = (currentTime.getSeconds() < 10 ? '0' : '') + currentTime.getSeconds();
        let time = hours + ':' + minutes + ":" + seconds;

        let $cellElement = null;
        let $hyperlinkElement = null;
        let $rowElement = $(`<tr class="orderRow" onclick="expandOrder('${order_id}')" id="order${order_id}"></tr>`);
        $cellElement = $(`<td>${time}</td>`);
        $rowElement.append($cellElement);
        $cellElement = $(`<td>${order_id}</td>`);
        $rowElement.append($cellElement);
        if (desc) {
            let lineitemid = "";
            for (let x = 0; x < product.length; x++) {
                lineitemid += product[x].lineitem_id + "|";
            }
            console.log(lineitemid);
            $cellElement = $(`<td id="pauseBtn"><a onclick="pause('${order_id}')"><i class="fas fa-ban" id="block${order_id}" style="color:red"></i></a></td>`);
            $rowElement.append($cellElement);
        }
        return $rowElement;
    }

    //Variable to check existing order
    var ord_id;
    //Loading order details
    function expandOrder(order_id) {
        if (ord_id != null) {
            $(`#order${ord_id}`).css("background-color", "");
            $(`#block${ord_id}`).css("color", "red");
        }
        $(`#order${order_id}`).css("background-color", "#fffdd0");
        $(`#block${order_id}`).css("color", "gray");
        ord_id = order_id;
        $.ajax({
            type: "GET",
            url: `/api/others/${order_id}`,
            dataType: "json",
            success: function (data) {
                $('#detailTable').html('');
                let prods = data.product;
                prods.forEach(function (record) {
                    let $rowElement = createDetail(record, order_id);
                    $('#detailTable').append($rowElement);
                    if (record.product_id == "mg") {
                        $(`#input-select${record.product_id}`)[0].selectedIndex = 0;
                    }
                    else if (record.product_id == "kc") {
                        $(`#input-select${record.product_id}`)[0].selectedIndex = 1;
                    }
                    else {
                        $(`#input-select${record.product_id}`)[0].selectedIndex = 2;
                    }
                    if (record.status == "Collected") {
                        $(`#check${record.lineitem_id}`).attr('checked', true);
                    }
                    else if (record.product_id == "ec" && record.status != "Completed") {
                        $(`#check${record.lineitem_id}`).click();
                    }
                    var effects = 'animate__animated animate__fadeIn animate__slow';
                    var effectsend = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';
                    $(`#${record.p_id}${record.product_id}`).addClass(effects).one(effectsend, function () {
                        $(`#${record.p_id}${record.product_id}`).removeClass(effects);
                    });
                });
            },
            error: function (data) {
                console.log(data);
                let $cellElement = null;
                let $rowElement = $('<tr></tr>');
                $cellElement = $(`<td style="text-align:center" colspan="3">Connection/Backend Problem!</td>`);
                $rowElement.append($cellElement);
                $('#detailTable').append($rowElement);//inserting a new row
            }
        });
    }

    //Creating the row for order detail table
    function createDetail({ p_id, product_id, quantity, productname, lineitem_id, photos, status }, order_id) {
        let photo = photos.toString();
        let $cellElement = null;
        let $hyperlinkElement = null;
        let $rowElement = $(`<tr id="${p_id}${product_id}"></tr>`);
        $cellElement = $(`<td>${productname}</td>`);
        $rowElement.append($cellElement);
        $cellElement = $(`<td>${quantity}</td>`);
        $rowElement.append($cellElement);
        $cellElement = $(`<td>
                <form>
                    <div class="form-group">
                        <select class="form-control form-control-sm" id="input-select${product_id}">
                            <option>~/Content/OrderPhotos/Magnet/</option>
                            <option>~/Content/OrderPhotos/Keychain/</option>
                            <option>~/Content/OrderPhotos/Establishment Card/</option>
                        </select>
                    </div>
                </form>
            </td>`);
        $rowElement.append($cellElement);
        if (photo.includes('|')) {
            photo = photos.split('|');
            let $newcellElement = $(`<table class="w-100 d-block d-md-table"></table>`);
            for (let x = 0; x < photo.length; x++) {
                let filename = photo[x].split('/');
                $cellElement = $(`<tr class="col-md-1"><td class="col-md-1">${filename[filename.length - 1]}</td></tr>`);
                $newcellElement.append($cellElement);
            }
            $rowElement.append($newcellElement);
        } else {
            let filename = photo.split('/');
            $cellElement = $(`<td>${filename[filename.length - 1]}</td>`);
            $rowElement.append($cellElement);
        }
        $cellElement = $(`<td><i id="download${product_id}" class="fa fa-download active dlbutton" onclick="downloadImage('${photos}', '${order_id}', '${product_id}')"></i></td>`);
        $rowElement.append($cellElement);
        $cellElement = $(`<td><label class="custom-control custom-checkbox ODbox">
                                <input onchange="changeStatus('${lineitem_id}', '${order_id}', '${photos}', '${product_id}')" id="check${lineitem_id}" type="checkbox" class="custom-control-input checkAll">
                                <span class="custom-control-label"></span>
                            </label></td>`);
        $rowElement.append($cellElement);
        return $rowElement;
    }

    //Check database for new order
    function checkOrder() {
        $.ajax({
            type: "GET",
            url: "/api/others",
            dataType: "json",
            success: function (data) {
                data.forEach(function (record) {
                    console.log(record);
                    let pausechecker = false;
                    if (record.product[0].status == "Paused") {
                        pausechecker = true;
                    }
                    let orderChecker = document.getElementById(`order${record.order_id}`);
                    if (orderChecker == null && pausechecker == false) {
                        let $rowElement = createRow(record, true);
                        if ($('#waitingMsg')) {
                            $('#waitingMsg').remove();
                        }
                        $('#myTable').append($rowElement);
                        var effects = 'animate__animated animate__fadeIn animate__slow';
                        var effectsend = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';
                        $(`#order${record.order_id}`).addClass(effects).one(effectsend, function () {
                            $(`#order${record.order_id}`).removeClass(effects);
                        });
                    }
                });
            },
            error: function (data) {
                console.log(data);
                let $cellElement = null;
                let $rowElement = $('<tr></tr>');
                $cellElement = $(`<td style="text-align:center" colspan="3">Connection/Backend Problem!</td>`);
                $rowElement.append($cellElement);
                $('#myTable').append($rowElement);//inserting a new row
            }
        });
    }

    //Collect or uncollect Order
    function changeStatus(id, order_id, photos, product_id) {
        let itemStatus = $(`#check${id}`).prop("checked");
        let status;
        let url;
        if (itemStatus == true) {
            status = "Collected";
            url = `/API/others/moveImage/${order_id}?photos=${photos}&product_id=${product_id}`;
        }
        else {
            status = "Waiting";
            url = `/API/others/removeImage/${order_id}?photos=${photos}&product_id=${product_id}`;
        }
        $.ajax({
            type: 'PUT',
            url: `/API/others/${id}?status=${status}`,
        }).fail(function (data, textStatus, jqXHR) {
            console.log(data);
        })

        let order = id.substring(id.indexOf("_"), -1);
        var classname = $(`#order${order}`).closest('tbody').attr('id');
        console.log(classname);
        if (($('.checkAll:checked').length) == ($('.checkAll').length)) {
            var effects = 'animate__animated animate__fadeIn animate__slow';
            var deleteEffects = 'animate__animated animate__fadeOut animate__slow';
            var effectsend = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';
            if ($('#completedMsg')) {
                $('#completedMsg').remove();
            }
            $(`#order${order}`).addClass(deleteEffects).one(effectsend, function () {
                $(`#order${order}`).removeClass(deleteEffects);
                $(`#order${order}`).find('td:last-child').remove();
                let tr = $(`#order${order}`).closest("tr").remove().clone();
                $('#collectedTable').append(tr);
                $(`#order${order}`).addClass(effects).one(effectsend, function () {
                    $(`#order${order}`).removeClass(effects);
                });
            });
        }
        else if (($('.checkAll:checked').length) != ($('.checkAll').length) && classname == "collectedTable") {
            var effects = 'animate__animated animate__fadeIn animate__slow';
            var deleteEffects = 'animate__animated animate__fadeOut animate__slow';
            var effectsend = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';

            $(`#order${order}`).addClass(deleteEffects).one(effectsend, function () {
                $(`#order${order}`).removeClass(deleteEffects);
                $(`#order${order}`).append($(`<td id="pauseBtn"><a onclick="pause('${order}')"><i class="fas fa-ban" style="color:gray"></i></a></td>`));
                let tr = $(`#order${order}`).closest("tr").remove().clone();
                $('#myTable').append(tr);
                $(`#order${order}`).addClass(effects).one(effectsend, function () {
                    $(`#order${order}`).removeClass(effects);
                });
            });
        }
        if (product_id != "ec") {
            $.ajax({
                type: 'PUT',
                url: url,
            }).done(function (data) {
                console.log(data);
            }).fail(function (data, textStatus, jqXHR) {
                console.log(data);
            })
        }
    }

    //Download Image to Local file
    function downloadImage(photos, order_id, product_id) {
        let path = $(`#input-select${product_id}`).val();
        $.ajax({
            type: 'PUT',
            url: `/API/others/downloadImage/${order_id}?photos=${photos}&path=${path}`,
        }).done(function (data) {
            $(`#download${product_id}`).css("color", "red");
        }).fail(function (data, textStatus, jqXHR) {
            console.log(data);
            $(`#download${product_id}`).css("color", "red");
        })
    }

    //Search Order Function
    function myFunction(num) {

        var input, filter, table, tr, td, i;
        if (num == 1) {
            input = document.getElementById("searchCode");
            table = document.getElementById("myTable");
        } else if (num == 2) {
            input = document.getElementById("searchCode2");
            table = document.getElementById("collectedTable");
        }
        var filter = input.value.toUpperCase();

        var trList = table.getElementsByTagName("tr");

        for (i = 0; i < trList.length; i++) {
            //don't initiate search unless user types at least 3 characters. This will greatly improve performance and usability especially with large tables.
            if (filter.length >= 3) {
                var match = false;
                var tdList = trList[i].getElementsByTagName("td");

                //loop through every td
                for (j = 0; j < tdList.length; j++) {
                    var td = tdList[j];

                    if (td) {
                        if (td.innerText.toUpperCase().indexOf(filter) > -1) {
                            match = true;
                        }
                    }
                }

                if (match == true) {
                    trList[i].style.display = "";
                }
                else {
                    trList[i].style.display = "none";
                }
            }
            else {
                trList[i].style.display = "";
            }
        }
    }

    //Pause Order
    function pause(order) {
        $.ajax({
            type: 'PUT',
            url: `/api/others/pause?orderid=${order}`,
        }).done(function (data, textStatus, jqXHR) {
            console.log(data);
            new noty({
                text: data,
                layout: 'center',
                theme: 'bootstrapTheme',
                type: 'success',
                timeout: 3000,
                callback: {
                    onClose: function () {
                        var effects = 'animate__animated animate__fadeIn animate__slow';
                        var deleteEffects = 'animate__animated animate__fadeOut animate__slow';
                        var effectsend = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';

                        $(`#order${order}`).addClass(deleteEffects).one(effectsend, function () {
                            $(`#order${order}`).removeClass(deleteEffects);
                            $(`#order${order}`).closest("tr").remove();
                        });
                    }
                }
            }).show();
        }).fail(function (data, textStatus, jqXHR) {
            new noty({
                text: data.responseJSON.message,
                theme: 'bootstrapTheme',
                layout: 'center',
                timeout: 3000,
                type: 'error'
            }).show();
        });
    }

    //Displaying picture in the print section
    function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function printKeychain() {
        let printername = $('#input-select').val();
        var formData = new FormData();
        var file1 = $('#keychainFile1')[0];
        formData.append('file', file1.files[0]);
        var file2 = $('#keychainFile2')[0];
        formData.append('file', file2.files[0]);
        $.ajax({
            url: `/api/others/printKeychain?printername=${printername}`,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (d) {
                new noty({
                    text: d.message,
                    layout: 'center',
                    theme: 'bootstrapTheme',
                    type: 'success',
                    callback: {
                        onClose: function () {
                            //clear input
                            $("#my_image").attr("src", "second.jpg");
                            $('#keychainImg1').attr('src', '/assets/images/upload.png');
                            $('#keychainFile1').val('');
                            $('#keychainImg2').attr('src', '/assets/images/upload.png');
                            $('#keychainFile2').val('');
                        }
                    }
                }).show();
            },
            error: function (d) {
                new noty({
                    text: d.responseJSON.Message,
                    theme: 'bootstrapTheme',
                    layout: 'center',
                    timeout: 3000,
                    type: 'error'
                }).show();
            }
        });
    }

    function printMagnet() {
        let printername = $('#input-select2').val();
        var formData = new FormData();
        var file = $('#magnetFile')[0];
        formData.append('file', file.files[0]);
        $.ajax({
            url: `/api/others/printMagnet?printername=${printername}`,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (d) {
                new noty({
                    text: d.message,
                    layout: 'center',
                    theme: 'bootstrapTheme',
                    type: 'success',
                    callback: {
                        onClose: function () {
                            //clear input
                            $('#magnetImg').attr('src', '/assets/images/upload.png');
                            $('#magnetFile').val('');
                        }
                    }
                }).show();
            },
            error: function (d) {
                new noty({
                    text: d.responseJSON.Message,
                    theme: 'bootstrapTheme',
                    layout: 'center',
                    timeout: 3000,
                    type: 'error'
                }).show();
            }
        });
    }

    $(document).ready(function () {
        $('#menuOthers').addClass("active");
        loadTable();
        loadPrinters();
    });
</script>
