@{
    Layout = null;
}
<body class="text-center">
    <form class="form-signin" action="/ItemManagement/Index" method="post">
        <img src="~/assets/images/kidzania.png" style="width:99%" alt="Kidzania logo">
        <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
        <input type="text" id="inputID" class="form-control" placeholder="User ID" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="button" type="submit" onclick="login()">Login</button>
    </form>
</body>
<style>
    html,
    body {
        height: 100%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    body {
        margin: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
        text-align: center;
    }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="text"] {
            margin: 10px;
        }

        .form-signin input[type="password"] {
            margin: 7px;
            margin-bottom: 20px;
        }

    div.forgot {
        margin: 10px;
    }

    .button {
        background-color: #f44336;
        border: 2px solid #f44336;
        color: #FFFFFF;
        margin: 5px;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        border-radius: 6px;
        width: 75%;
        transition-duration: 0.4s;
    }

        .button:hover {
            background-color: #FFFFFF;
            color: #f44336;
        }
</style>
<script>
</script>