@{
    ViewBag.title = "Collection Order";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
<link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
<link rel="stylesheet" href="~/assets/libs/css/style.css">
<link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/animate.min.css" rel="stylesheet" />
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper" style="margin-left:0;">
        <div class="container-fluid dashboard-content" style="padding-top: 0;padding-bottom: 0;">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header" style="text-align:center;">
                        <h2 class="pageheader-title"><img src="~/assets/images/kidzania1.png" width="125" height="30" style="margin-right:10px; margin-top: -10px;">Collection Notification</h2>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- media list -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h3 class="card-header" style="background-color: palegreen;">
                            <i class="fas fa-check-square" style="margin-right:10px;"></i>Ready To Collect...<img src="~/assets/images/s6_ch_urbano.png" width="63" height="88" style="margin-right:10px;">
                        </h3>
                        <div class="card-body" style="text-align: center; background-color: honeydew;">
                            <ul class="list-unstyled" id="readyOrders"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h3 class="card-header" style="border: 1px solid #d2d2d2;">
                            Preparing...<img src="~/assets/images/preparing.png" width="60" height="85" style="margin-right:10px;">
                        </h3>
                        <div class="card-body" id="waitingOrders" style="display:flex; flex-wrap: wrap; text-align: center; background-color: #f5f5f5;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end media list -->
            <!-- ============================================================== -->
        </div>
        <img src="~/assets/images/rights-keepeers.png">
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
</div>

<script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="~/assets/libs/js/main-js.js"></script>
<style>
    @@media (min-width:1500px){
    .container{
    max-width: none;
        }
    }
    .column {
        flex: 0 0 50%;
        padding: 10px;
    }

    .column:nth-child(odd) {
        border-right: 1px solid #d2d2d2;
    }

    .dashboard-main-wrapper {
        padding-top: 40px;
    }

    .page-header {
        border-bottom: 0;
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
        //Create Order
        checkReadyOrder();
        checkWaitingOrder();
        //Check Order
        setInterval(checkReadyOrder, 5000);
        setInterval(checkWaitingOrder, 5000);
    });

    //Animation effects
    var effects = 'animate__animated animate__fadeIn animate__slow';
    var deleteEffects = 'animate__animated animate__fadeOut animate__slow';
    var effectsend = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';

    //OrderChecker
    var readyOrder = [];
    var waitingOrder = [];

    //Check Completed Orders
    function checkReadyOrder() {
        $.ajax({
            type: "GET",
            url: `/api/order/ReadyOrders`,
            dataType: "json",
            success: function (data) {
                console.log(data);
                let newOrder = '';
                data.forEach(function (record) {
                    let checker = false;
                    for (let x = 0; x < readyOrder.length; x++) {
                        if (readyOrder[x] == record.orderid) {
                            x = readyOrder.length;
                            checker = true;
                        }
                    }
                    if (!checker) {
                        readyOrder.push(record.orderid);
                        newOrder = `<li id="ready${record.orderid}" class="media">
                            <div onmouseover="displayChk('${record.orderid}')" onmouseout="removeChk('${record.orderid}')" class="media-body">
                                <h3 class="mt-0 mb-1"><input hidden style="margin-right:5px;" id="complete${record.orderid}" onclick="completeItem('${record.orderid}')" type="checkbox"/>${record.orderid}</h3>
                            </div>
                        </li>`;
                        $('#readyOrders').append(newOrder);
                        $(`#ready${record.orderid}`).addClass(effects).one(effectsend, function () {
                            $(`#ready${record.orderid}`).removeClass(effects);
                        });
                    }
                });
                for (let y = 0; y < readyOrder.length; y++) {
                    let checker = false;
                    for (let x = 0; x < data.length; x++) {
                        if (data[x].orderid == readyOrder[y]) {
                            x = readyOrder.length;
                            checker = true;
                        }
                    }
                    if (!checker) {
                        console.log(y + "  " + readyOrder[y]);
                        $(`#ready${readyOrder[y]}`).addClass(deleteEffects).one(effectsend, function () {
                            $(`#ready${readyOrder[y]}`).removeClass(deleteEffects);
                            $(`#ready${readyOrder[y]}`).remove();
                            readyOrder.splice(y, 1);
                        });
                    }
                }
            }
        });
    }

    //Check Completed Orders
    function checkWaitingOrder() {
        $.ajax({
            type: "GET",
            url: `/api/order/WaitingOrders`,
            dataType: "json",
            success: function (data) {
                console.log(data);
                let newOrder = '';
                data.forEach(function (record) {
                    let checker = false;
                    for (let x = 0; x < waitingOrder.length; x++) {
                        if (waitingOrder[x] == record.orderid) {
                            x = waitingOrder.length;
                            checker = true;
                        }
                    }
                    if (!checker) {
                        waitingOrder.push(record.orderid);
                        newOrder = `<div id="waiting${record.orderid}" class="column">
                                    <div class="media-body">
                                        <h4 class="mt-0 mb-1">${record.orderid}</h4>
                                    </div>
                                </div>`;

                        $('#waitingOrders').append(newOrder);
                        $(`#waiting${record.orderid}`).addClass(effects).one(effectsend, function () {
                            $(`#waiting${record.orderid}`).removeClass(effects);
                        });
                    }
                });
                for (let y = 0; y < waitingOrder.length; y++) {
                    let checker = false;
                    for (let x = 0; x < data.length; x++) {
                        if (data[x].orderid == waitingOrder[y]) {
                            x = waitingOrder.length;
                            checker = true;
                        }
                    }
                    if (!checker) {
                        $(`#waiting${waitingOrder[y]}`).addClass(deleteEffects).one(effectsend, function () {
                            $(`#waiting${waitingOrder[y]}`).remove();
                            $(`#waiting${waitingOrder[y]}`).removeClass(deleteEffects);
                            waitingOrder.splice(y, 1);
                        });
                    }
                }
            }
        });
    }

    function displayChk(orderid) {
        $(`#complete${orderid}`).removeAttr("hidden");
    }

    function removeChk(orderid) {
        $(`#complete${orderid}`).attr("hidden", true);
    }

    function completeItem(orderid) {
        $.ajax({
            url: `/api/order/CompleteOrder?orderid=${orderid}`,
            type: 'PUT',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                for (let y = 0; y < readyOrder.length; y++) {
                    if (readyOrder[y] == orderid) {
                        $(`#ready${readyOrder[y]}`).addClass(deleteEffects).one(effectsend, function () {
                            $(`#ready${readyOrder[y]}`).removeClass(deleteEffects);
                            $(`#ready${readyOrder[y]}`).remove();
                            readyOrder.splice(y, 1);
                        });
                    }
                }
            },
            error: function (data) {
                alert("fail to update order status!");
            }
        });
    }
</script>