@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/libs/css/Login-Register/css/style.css" rel="stylesheet" />
    <link href="~/assets/libs/css/Login-Register/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
</head>
<body style="padding-top:20px">
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="txtEmail"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="txtEmail" id="txtEmail" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <label for="txtName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="txtName" id="txtName" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <label for="id=" txtPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="txtPassword" id="txtPassword" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="txtConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="txtConfirmPassword" id="txtConfirmPassword" placeholder="Repeat your password" />
                            </div>
                            <div class="form-group">
                                <label for="txtRoleId"></label>
                                <select id="txtRoleId">
                                    <option value="" disabled selected>Choose a role</option>
                                    <option value="0">Pending</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Hardcopy</option>
                                    <option value="3">Keychain & Magnet</option>
                                    <option value="4">Marketing</option>
                                </select>
                            </div>
                            <div class="form-group form-button">
                                <input type="button" name="btnRegister" id="btnRegister" class="form-submit" value="Register" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <img src="~/assets/images/kidzania.png" width="200" height="30" style="margin-left: 50px; margin-bottom: -38px;" alt="sign up image">
                        <img src="~/assets/images/cartoon2.png" alt="kidzania">
                        <a href="~/Home/Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
        <div id="divError" class="alert alert-danger collapse">

            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>
    </div>

    <style>
        option[value=""][disabled] {
            display: none;
        }

        select {
            appearance: auto !important;
            border: 1.5px solid rgba(0, 0, 0, 0.3);
            padding: 8px 16px;
            width: 100%;
        }
    </style>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/noty/jquery.noty.js"></script>
    <script src="~/Scripts/noty/layouts/center.js"></script>
    <script src="~/Scripts/noty/themes/bootstrap.js"></script>
    <script src="~/Scripts/noty/themes/default.js"></script>
    <script src="~/Scripts/noty/themes/relax.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //Close the bootstrap alert
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            // Save the new user details
            $('#btnRegister').click(function () {
                $.ajax({
                    url: '/api/account/register',
                    method: 'POST',
                    data: {
                        email: $('#txtEmail').val(),
                        name: $('#txtName').val(),
                        password: $('#txtPassword').val(),
                        confirmPassword: $('#txtConfirmPassword').val(),
                        roleId: $('#txtRoleId').val(),
                        role: $('#txtRoleId option:selected').text()
                    },
                    success: function () {
                        window.location.replace("/Home/Login");
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR);
                        var errorJson = $.parseJSON(jqXHR.responseText);
                        console.log(errorJson.ModelState[""]);
                        if (errorJson.ModelState[""]) {
                            for (let x = 0; x < errorJson.ModelState[""].length; x++) {
                                if (errorJson.ModelState[""][x].includes("Email") && errorJson.ModelState[""][x].includes("is already taken")) {
                                    new noty({
                                        text: errorJson.ModelState[""][x],
                                        theme: 'bootstrapTheme',
                                        layout: 'center',
                                        timeout: 3000,
                                        type: 'error',
                                        callback: {
                                            onClose: function () {
                                                window.location.replace("/Home/Login");
                                            }
                                        },
                                    }).show();
                                }
                                else {
                                    new noty({
                                        text: errorJson.ModelState[""][x],
                                        theme: 'bootstrapTheme',
                                        layout: 'center',
                                        timeout: 3000,
                                        type: 'error'
                                    }).show();
                                }
                            }
                        }
                        if (jqXHR.responseJSON.ModelState["model.Password"]) {
                            new noty({
                                text: jqXHR.responseJSON.ModelState["model.Password"],
                                theme: 'bootstrapTheme',
                                layout: 'center',
                                timeout: 3000,
                                type: 'error'
                            }).show();
                        }
                        if (jqXHR.responseJSON.ModelState["model.ConfirmPassword"]) {
                            new noty({
                                text: jqXHR.responseJSON.ModelState["model.ConfirmPassword"],
                                theme: 'bootstrapTheme',
                                layout: 'center',
                                timeout: 3000,
                                type: 'error'
                            }).show();
                        }
                        if (jqXHR.responseJSON.ModelState["model.RoleId"]) {
                            new noty({
                                text: "Role is required",
                                theme: 'bootstrapTheme',
                                layout: 'center',
                                timeout: 3000,
                                type: 'error'
                            }).show();
                        }
                        if (jqXHR.responseJSON.ModelState["model.Email"]) {
                            new noty({
                                text: jqXHR.responseJSON.ModelState["model.Email"][0],
                                theme: 'bootstrapTheme',
                                layout: 'center',
                                timeout: 3000,
                                type: 'error'
                            }).show();
                        }
                    }
                });
            });
        });
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>